/* [ START ] Main Rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lexend Deca', sans-serif;
	min-height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f2f2f2;
	background-color: #f2f2f2;
}
/* [ END ] Main Rules */
main {
	display: flex;
	border-radius: 0.5rem;
	overflow: hidden;
}
main article {
	max-width: 19.188rem;
	padding: 3rem;
}
main article:first-of-type {
	background-color: #e28625;
}
main article:nth-of-type(2) {
	background-color: #006971;
}
main article:last-of-type {
	max-width: 19.125rem;
	background-color: #004140;
}
main article img {
	margin-bottom: 2.188rem;
	display: block;
}
main article h1 {
	font-family: 'Big Shoulders Display', sans-serif;
	text-transform: uppercase;
	font-size: 2.5rem;
	line-height: 1.2;
	margin-bottom: 0.625em;
}
main article p {
	font-size: 0.9375rem;
	line-height: 1.667;
	opacity: 75%;
	margin-bottom: 5.53333em;
}
main article button {
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.654;
	border-radius: 1.6666em;
	border-color: transparent;
	background-color: #f2f2f2;
	padding: 0.667em 2.1em 0.667em;
	width: 9.73333em;
}
main article:first-of-type button {
	color: #e28625;
}
main article:nth-of-type(2) button {
	color: #006971;
}
main article:last-of-type button {
	color: #004140;
}
main article button:hover {
	background: transparent;
	color: #f2f2f2;
	border: 0.125rem solid #f2f2f2;
}
